@import "../utilidades/variables";


/* reset */

*{
    margin: 0;
    padding: 0;
    
}

/* estilos generales  */

body{
    background-color: $color-principal;
    color: white;
    font-style: italic;
    font-size: large;
    
}
